body {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
}

div.fragment { 
  width: 98%;
  border: 1px solid #CCCCCC;
  background-color: #f5f5f5;
  padding-left: 4px;
  margin: 4px;
}

div.box { 
  width: 98%;
  background-color: #f5f5f5;
  border: 1px solid #CCCCCC;
  color: black;
  padding: 4px;
}

.comment {
  color: #228B22;
}
.string {
  color: #B20000;
}
.keyword { 
  color: #0000FF;
}

.keywordtype { color: #604020; }
.keywordflow { color: #e08000; }
.preprocessor { color: #806020; }
.stringliteral { color: #002080; }
.charliteral { color: #008080; }

a:link { color: #00C; background: transparent }
a:visited { color: #609; background: transparent }
a:active { color: #F00; background: transparent }
@media screen {	/* hide from IE3 */
  a[href]:hover { background: #ffa }
  a.code:hover {
    background-color: #FFaaaa;
  }	
}

h1 {
  background: transparent;
  color: #990000; 
  font-size: x-large;
  text-align: center;
}

h2 {
  background: transparent;
  color: #990000; 
  font-size: large;
}

address {
  font-size:small;
}
